extends layout

block content
    p The string is: #{stringToDisplay}

    h1 This input string in the reqbody is: #{newString}
    h2 the length of said string is: #{lengthOfNewString}
    h3 the name is #{aName}